/* ------------------ GENERAL ------------------ */

html,
* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: rgb(228, 231, 224);
    font-family: "Oswald", sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

h1 {
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-top: 0.1em;
    text-align: left;
    font-family: "Autour One", sans-serif;
    font-size: 2rem;
}

h2 {
    text-align: center;
    padding: 2em;
}

h3 {
    text-align: center;
    padding: 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

ul {
    list-style-type: none;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-30em);
    }

    100% {
        transform: translateX(0);
    }
}

.btn-formulario {
    border-radius: 10em;
    border-style: inset;
    background-color: rgb(32, 138, 106);
    width: moz-fit-content;
    height: 2em;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1em;
    padding: 0.2em;
    cursor: pointer;
}

.btn-formulario:active {
    background-color: rgb(72, 177, 142);
    border-style: outset;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
        /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.4em;
        /* Further adjust font size for smaller screens */
    }
}

/* ------------------ HEADER ------------------ */

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(228, 231, 224);
    width: 100%;
}

#titulo {
    grid-area: 1 / 1 / 2 / 5;
    -ms-grid-row-span: 5fr;
    animation: slideInLeft 1s ease-in-out 0.2s 1 normal both;
}

#login {
    grid-area: 1 / 5 / 2 / 6;
    display: inherit;
    justify-items: center;
    align-items: center;
    border-radius: 10em;
    border-style: inset;
    background-color: rgb(32, 138, 106);
    width: 5em;
    height: 2em;
    margin: 1em;
}

#login:hover {
    background-color: rgb(72, 177, 142);
    border-style: outset;
}

#carrito {
    grid-area: 1/6/2/7;
    display: inherit;
    justify-content: center;
    margin: 0.8em;
}


/* ------------------ NOVEDADES ------------------ */

.libro-main {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    column-gap: 1em;
    row-gap: 1em;
    overflow: scroll;
    margin: 0.5em 2em 0.5em 0.5em;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
}

.libro-list {
    width: fit-content;
    box-sizing: border-box;
    /* width: calc(40% - 10px);
    box-sizing: border-box;
    /* min-width: 30% - 10px; */
    /* margin-bottom: 20px;
    padding: 0 10px; */
}

@media (max-width: 1500px) {
    .libro-main {
        grid-template-columns: repeat(2, 1fr);
        /* width: calc(30.33% - 20px); */
    }
}

@media (max-width: 1100px) {
    .libro-main {
        grid-template-columns: repeat(2, 1fr);
        /* width: calc(20.33% - 20px); */
    }
}

@media (max-width: 970px) {
    .libro-main {
        grid-template-columns: repeat(1, 1fr);
        /* width: calc(20.33% - 20px); */
    }
}


.main-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.libro-boton {
    display: inline-block;
    margin: 20px 10px 5px 10px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(32, 138, 106);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.libro-boton:hover {
    background-color: #c0bebe;
    color: rgb(32, 138, 106);
}

.libro-api-boton {
    display: inline-block;
    margin: 20px 10px 5px 10px;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(32, 138, 106);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.libro-api-boton:hover {
    background-color: #c0bebe;
    color: rgb(138, 32, 127);
}


.crear-div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    /* border: solid 5px red; */
}

.crear-div label {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.crear-div [id^="id_"] {
    float: right; /* Hace que el botón se alinee a la derecha */
    margin-right: 25px;
    width: 60%;
} 

.crear-boton { 
    width: fit-content;
}

        /* ------------- FIELDSET  --------- */
.libro-fieldset {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

.libro-legend {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.libro-ul {
    list-style: none;
    padding: 0;
}

.libro-li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.libro-span-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.libro-li-span {
    font-weight: bold;
}

.libro-span {
    display: inline-block;
    margin: 10px 2px 0 0;
}

.libro-span label {
    margin-left: 10px;
}


        /* ------------- DETAILS  --------- */
.detail-main {
    margin: 100px auto;
    padding: 50px ;
    width: 33%;
    box-sizing: border-box;
    border: none;
    background-color: #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.detail-p {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 22px;
}

.p-label {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    align-content: center;
    align-items: center;
}

.detail-div-botton a {
    width: fit-content;
}

.libro-boton {
    float: right; /* Hace que el botón se alinee a la derecha */
    margin-right: 20px;
}

/* ------------------ NAV ------------------ */

.nav {
    display: block;
    width: 100%;
    justify-content: center;
    justify-items: center;
    height: 4em;
    background-color: rgb(32, 138, 106);
    font-family: "Mohave", sans-serif;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: auto;
    padding: 1em;
}

.navegacion-item {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.navegacion-a {
    margin: auto;
    color: white;
}

/* ------------------ DROPDOWN ------------------ */

.dropbtn {
    background-color: rgb(32, 138, 106);
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 2.5em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.show {
    display: block;
}

/* ------------------ MAIN ------------------ */

.main {
    box-sizing: border-box;
    margin: 7em 2em 5em 2em;
    padding: 2em 0;
}

/* ------------------ FOOTER ------------------ */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-top: 2em;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5em;
    background-color: rgb(32, 138, 106);
}

/* ------------------ CONTACTO ------------------ */

.seccionContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 768px) {
    .seccionContacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .seccionContacto {
        display: grid;
        grid-template-columns: 1fr;
    }
}

#datosContacto {
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
    align-content: center;
}

#datosContacto>ul {
    background-color: #ddd;
    border-radius: 1em;
    border: solid 0.2em cadetblue;
    height: 100%;
    width: 100%;
}

.redesSociales {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 0px;
    justify-items: center;
    border-top: 2rem;
}

#facebook {
    grid-area: 1 / 3 / 2 / 4;
}

#instagram {
    grid-area: 1 / 4 / 2 / 5;
}

#youtube {
    grid-area: 1 / 5 / 2 / 6;
}


#mapa {
    min-width: 24em;
    min-height: 18.44em;
    border-radius: 0.2em;
    border: solid 0.2em cadetblue;
}

form {
    display: grid;
    grid-area: 1 / 3 / 2 / 4;
}

fieldset {
    background-color: #ddd;
    border-radius: 1em;
    border: solid 0.2em cadetblue;
    padding: 0.5em;
}

/* ------------------ CONTACTO ------------------ */

#seccionQuienesSomos {
    margin-top: 2em;
    padding-top: 0;
    scroll-margin-top: 6em;
}

.seccionQuienesSomos {
    background-color: #ddd;
    box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 1em;
}

#seccionContacto {
    scroll-margin-top: 4em;
}

/* ------------------ LOGIN ------------------ */

.body-login {
    display: block;
}

.main-login {
    display: grid;
    width: 100%;
    grid: repeat(2, 0.5fr);
    grid-row-gap: 2em;
    margin: 1em auto;
}

/* ----------- LOGIN FormLogin------------------ */

.formularioLogin-container {
    background-color: #ddd;
    height: 15em;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    padding: 0.8em;
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
}

#formularioLogin {
    display: flex;
    flex-direction: column;
}

.formularioLogin-container input {
    width: 80%
}

.formularioLogin-container button {
    width: 70%;
}

/* ----------- LOGIN FormRegistro------------------ */


.formularioRegistro-container {
    background-color: #ddd;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    padding: 0.8em;
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
}

#formularioRegistro {
    display: flex;
    flex-direction: column;
}

.formularioRegistro-container input {
    width: 80%;
}

.formularioRegistro-container button {
    width: 70%;
}

/* ------------------ CATEGORIAS ------------------ */

.body-categorias {
    display: block;
}

.main-categorias {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em auto;
}

.lista-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;

}

#contenido-categoria {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em; */
    justify-items: center;
    justify-content: space-evenly;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    width: 15em;
    text-align: center;
    outline: none;
    font-size: 1em;
    margin: 0.2em;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0.2em;
    overflow: auto;
    background-color: #f1f1f1;
    width: 10em;
    margin-left: 2.5em;
    border-radius: 1em;
}

.content a {
    display: block;
    padding: 0.2em;
}

/* ------------------ LIBROS ------------------ */

.card {
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
    width: 15em;
    height: 100%;
    max-height: 40em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-bottom: 0.2em;
    margin: auto;
    text-align: center;
    font-family: arial;
    align-content: baseline;
}

.price {
    color: grey;
    font-size: 1em;
}

.card button {
    border: none;
    border-radius: 1em;
    outline: 0;
    padding: 0.5em;
    margin-top: 0.3em;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 1em;
}

.card button:hover {
    opacity: 0.7;
}

.card img {
    width: 70%;
}

/* ------------------ SLIDER ------------------ */

.slideshow-container {
    position: relative;
    background: rgb(228, 231, 224);

}

.mySlides {
    display: inline;
    text-align: center;
    align-items: center;
}

.mySlides div {
    display: inline-block;
    padding: 1em;
    margin: 2em;
    padding-bottom: 2em;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    color: #888;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0 0.1em 0.1em 0;
    -webkit-user-select: none;
    user-select: none;

}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 1em;
    background: #ddd;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* ------------------ CARRITO ------------------ */

.body-carrito {
    display: block;
}

.main-carrito {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2em auto;
}

.carrito {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ddd;
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    grid-template-rows: repeat(2, 1fr);
    padding: auto;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
}

.totals {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.totals h3 {
    margin: auto;
}

#cart-total {
    margin: 0.5em;
    padding: 0.5em;
}

.checkout {
    border-radius: 10em;
    border-style: inset;
    background-color: rgb(32, 138, 106);
    width: 100%;
    height: 2em;
    margin: auto;
    padding: ;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.checkout:active {
    background-color: rgb(72, 177, 142);
    border-style: outset;
}

.fondo {
    background-color: #ddd;
    border-radius: 1em;
    z-index: 0;
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);
}

.tabla {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    justify-items: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 120%;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.div6 {
    grid-area: 1 / 6 / 2 / 7;
}