{% extends 'base.html' %} {% load static %} {% block content %}

<main>
    <div">
        <h1>Libros</h1>
        <h2><a href="{% url 'libro:create' %}">Crear un Libro</a></h2>
        <h2><a href="{% url 'libro:create' libro.id %}">Borrar Libro</a></h2>
        {% for libro in libro_list%}
        <div class="list">
            
            <fieldset>
                <legend>Titulo: {{libro.titulo}}</legend>
                <ul>
                    <li>Autor:      {{libro.autor}}</li>
                    <li>Editorial:  {{libro.editorial}}</li>
                    <li>Precio:     {{libro.precio}}</li>
                    <li>Fecha_publicacion: {{libro.fecha_publicacion}}</li>
                    <li>ISBN:       {{libro.isbn}}</li>
                </ul>
                

            </fieldset>
        </div>

        {% endfor %}
    </div>
</main>

{% endblock %}