{% extends 'base.html' %} {% load static %} {% block content %}

<main class="main">
    <div class="detail-main">
        <h1 class="borrar-h1">Estas seguro que deseas borrar este libro?</h1>
        <h2 class="borrar-h2">{{libro.titulo}}</h2>
        <form method="post">
            {% csrf_token %}
            <div>{{form.as_p}}</div>
        </form>
        <div class="delete-buttons">
            <input class="libro-boton crear-boton" type="submit" value="{{ tipo }}" />
            <div class="detail-div-botton">
                <a href="{% url 'libro:all' %}"><input class="libro-boton" type="button" value="Cancelar" /></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}