{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Autour+One&family=Dancing+Script&family=Mohave&family=Oswald&display=swap"
        rel="stylesheet" />
    <link rel="icon" href="{% static './icon/icons8-book-48.ico'%}" />
    <script src="{% static './js/headerFooter.js'%}"></script>
    <script src="{% static './js/validarFormContacto.js'%}"></script>
</head>

<body>
    <div>
        <!-- <div class="header-nav-container" id="header-nav-container"></div> -->

        {% include 'partials/header.html' %} {% block content %} {% endblock %} {% include 'partials/footer.html' %}
    </div>
    <script src="{% static './js/dropdown.js'%}"></script>
    <script src="{% static './js/sliderIngresosRecomendados.js'%}"></script>
</body>

</html>