{% extends 'base.html' %} {% load static %} {% block content %}

<main class="main-carrito">
  <div class="carrito">
    <table class=" shopping-cart">
      <thead>
        <tr class="tabla">
          <th class="div2">
            <h3>Título</h3>
          </th>
          <th class="div3">
            <h3>Precio</h3>
          </th>
          <th class="div4">
            <h3>Cantidad</h3>
          </th>
          <th class="div5">
            <h3>Total</h3>
          </th>
        </tr>
      </thead>
    </table>
    <div class="totals">
      <div class="totals-item">
        <label>
          <h3>Total a pagar</h3>
        </label>
        <div class="totals-value" id="cart-total">$0</div>
        <button type="button" class="checkout">Ir a pagar</button>
      </div>
    </div>
    <div class="fondo"></div>
  </div>
</main>
<script src="{% static './js/carrito.js' %}"></script>

{% endblock %}