{% extends 'base.html' %} {% load static %} {% block content %}

<head>
    <script src="{% static './js/validarFormContacto.js'%}"></script>
</head>
<main class="item main">
    <div id="ingresos-container">
        <div class="slideshow-container">
            <h2>Últimos ingresos</h2>
            <div class="mySlides">
                <div class="card">
                    <img src="{%static './image/el-problema-final.jpg'%}" alt="El problema final">
                    <h4>El problema final</h4>
                    <p class="price">$10699</p>
                    <p class="genero">Crimen y misterio</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/holly-edicion-en-espanol.jpg'%}" alt="Holly">
                    <h4>Holly</h4>
                    <p class="price">$15999</p>
                    <p class="genero">Terror</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/horoscopo-chino-2024.jpg'%}" alt="Horoscopo chino 2024">
                    <h4>Horóscopo chino 2024</h4>
                    <p class="price">$7999</p>
                    <p class="genero">Religión, espíritu y creencias</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
            </div>
            <div class="mySlides">
                <div class="card">
                    <img src="{% static './image/un-mundo-de-ensueno.jpg'%}" alt="Un mundo de ensueño">
                    <h4>Un mundo de ensueño</h4>
                    <p class="price">$10999</p>
                    <p class="genero">Romance</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/roger-waters.jpg'%}" alt="Roger Waters">
                    <h4>Roger Waters</h4>
                    <p class="price">$9999</p>
                    <p class="genero">Música</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/la-armadura-de-la-luz-saga-los-pilares-de-la-tierra-4.jpg'%}"
                        alt="La armadura de la luz saga los pilares de la tierra">
                    <h4>La armadura de la luz</h4>
                    <p class="price">$12699</p>
                    <p>Fantasía</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
            </div>
            <div class="mySlides">
                <div class="card">
                    <img src="{% static './image/el-hombre-en-busca-de-sentido.jpg'%}"
                        alt="El hombre en busca de sentido">
                    <h4>El hombre en busca de sentido</h4>
                    <p class="price">$6890</p>
                    <p class="genero">Psicología</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/artificial.jpg'%}" alt="Artificial">
                    <h4>Artificial</h4>
                    <p class="price">$7999</p>
                    <p class="genero">Divulgación científica</p>
                    <p><button>Agregar al carrito</button></p>
                </div>
                <div class="card">
                    <img src="{% static './image/73-margaritas.jpg'%}" alt="73 margaritas">
                    <h4>73 margaritas</h4>
                    <p class="price">$6999</p>
                    <p class="genero">Romance</p>
                    <p><button>Agregar al carrito</button></p>
                </div>


            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </div>
    <h2 id="seccionQuienesSomos">Librería Codo a Codo</h2>
    <div class="seccionQuienesSomos">

        <p>Bienvenido a Librería Codo a Codo, una modesta y apasionada empresa familiar dedicada a brindar experiencias
            literarias únicas. Desde nuestros inicios hace más de 10 años, hemos trabajado incansablemente para estar
            siempre cerca de nuestros clientes, construyendo relaciones sólidas y compartiendo el amor por la lectura.
        </p>

        <p>
        <h3>Nuestra Filosofía: La Fusión de lo Moderno y lo Clásico</h3>
        En Librería Codo a Codo, creemos en la importancia de mantenernos a la vanguardia de las últimas tendencias
        literarias sin perder de vista las joyas atemporales que han cautivado a generaciones. Nos dedicamos a
        satisfacer las necesidades del lector contemporáneo, aquel que busca lo más reciente, así como a los amantes de
        la literatura clásica que valoran la eternidad de las grandes historias.</p>

        <p>
        <h3>Creciendo Juntos: Más de 10 Años de Experiencia</h3>
        Nuestra travesía ha sido un viaje emocionante que ha evolucionado a lo largo de más de una década. Crecer en
        experiencia ha sido posible gracias a la colaboración constante con nuestros clientes leales, quienes han sido
        la fuerza impulsora detrás de nuestro progreso. Nos enorgullece decir que cada paso que damos está respaldado
        por la confianza que nuestros clientes depositan en nosotros.</p>

        <p>
        <h3>Siempre Innovando con la Tecnología</h3>
        En Librería Codo a Codo, reconocemos el papel fundamental de la tecnología en la evolución del mundo literario.
        Nos mantenemos actualizados con los avances tecnológicos para ofrecer a nuestros clientes experiencias de
        lectura modernas y cómodas. Desde la comodidad de la tradición hasta la emoción de la innovación, nos esforzamos
        por ofrecer lo mejor de ambos mundos.</p>

        <p>Gracias por ser parte de nuestra historia. En Librería Codo a Codo, estamos comprometidos a seguir
            compartiendo la magia de la lectura y construyendo comunidades literarias codo a codo con cada uno de
            ustedes.</p>

        <p>¡Bienvenido a nuestro mundo de libros!</p>

    </div>
    <h2 id="seccionContacto">Contacto</h2>

    <div class="seccionContacto">
        <div id="datosContacto">
            <ul>
                <li>
                    <h3>Virrey del Pino 4555, Villa Ortúzar (CABA)</h3>
                </li>
                <li>
                    <h3>4567-3388</h3>
                </li>
                <li>
                    <h3>codoacodoa@gmail.com</h3>
                </li>
                <li>
                    <h3>Redes Sociales</h3>
                </li>
                <li>
                    <ul class="redesSociales">
                        <li id="facebook"><a href=""><img src="{% static './image/icons8-facebook-50.png'%}"
                                    height="25em" width="25em" alt=""></a></li>
                        <li id="instagram"><a href=""><img src="{% static './image/icons8-instagram-50.png'%}"
                                    height="25em" width="25em" alt=""></a></li>
                        <li id="youtube"><a href=""><img src="{% static './image/icons8-youtube-50.png'%}" height="25em"
                                    width="25em" alt=""></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6570.067672270353!2d-58.47630414422815!3d-34.57801038635882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb671c0e6a223%3A0x5ecb08626a9d3595!2sVirrey%20del%20Pino%204555%2C%20C1430CAS%20CABA!5e0!3m2!1ses-419!2sar!4v1696530061154!5m2!1ses-419!2sar"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div id="formularioContacto">
            <form action="mailto:codoacodo@gmail.com?subject=Consulta" method="post" enctype="text/plain"
                onsubmit="return validarFormulario()">
                <fieldset>
                    <legend>
                        <h4>Dejanos tu consulta!</h4>
                    </legend>
                    <label for="nombreApellido">Nombre y apellido:</label><br>
                    <input type="text" id="nombreApellido" name="nombreApellido" size="35" maxlength="50"><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" size="35" maxlength="50"><br><br>
                    <textarea name="consulta" id="consulta" cols="40" rows="10"
                        placeholder="Escriba aquí su consulta..."></textarea>
                </fieldset>
                <button class="btn-formulario" type="reset">Borrar todo</button>
                <button class="btn-formulario" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</main>
<script src="{% static './js/sliderIngresosRecomendados.js'%}"></script>
{% endblock %}